
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

section {
    padding: 20px;
    margin: 20px;
    height: 400px;
    text-align: center;
    background-color: #fff;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.test{
    position: absolute;
    background-color: #555;
    border-radius: 5px;
    width: 100px;
    height: 150px;
    text-align: center;
    align-items: center;
    z-index: 6;
    left: 47%;
    top: 45px;
    padding-top: 5px;
    color: #f0f0f0;
    display: none;
}